/* styles/Main.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #ecddce;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    background-color: #3e6a9b;
    color: #fff;
    font-size: 1rem;
}

.logo {
    margin-right: 20px;
    margin-left: 20px;
}

.header-title {
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
}

.city-input {
    margin-top: 20px;
    text-align: -moz-left;
}

.weather-display {
    margin-top: 20px;
}

.weather-table {
    width: 100%;
    margin-top: 2rem;
}

.weather-table th,
.weather-table td {
    text-align: left;
    padding: 15px;
    border: 1px solid #000;
}

.input-button {
    border-radius: 5px;
    background-color: #558cca;
    color: #fff;
    padding: 5px 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.custom-button {
    border-radius: 5px;
    background-color: #3e6a9b;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.custom-button:hover {
    background-color: #0056b3;
}

.input-button:hover {
    background-color: #154a82;
}

.city-input h2 {
    font-size: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

table td,
table th {
    padding: 0;
    margin: 10px;
    text-align: center;
}

table th {
    background-color: #b7b69a;
}

.city-list {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media (max-width: 768px) {
    .weather-table th,
    .weather-table td {
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .city-input {
        margin-top: 40px;
    }
}
